.graph{
    border: dashed 1px black;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.graph .graph-title{
}

body {
    position: relative;
    margin-top:75px;
}

#number-of-tweets{
    background-color: #C0DEED;
}
